@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Cambria';
	src: url('../Cambria.eot?#iefix') format('embedded-opentype'),
	url('../Cambria.woff') format('woff'),
	url('../Cambria.ttf')  format('truetype'),
	url('../Cambria.svg#Cambria') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  
  @font-face {
	font-family: 'Cambria-Bold';
	src: url('../Cambria-Bold.eot?#iefix') format('embedded-opentype'), 
	url('../Cambria-Bold.woff') format('woff'),
	url('../Cambria-Bold.ttf')  format('truetype'),
	url('../Cambria-Bold.svg#Cambria-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  


/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	font-family: Cambria !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*  Blockquotes */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 10px;
	height: 0;
}

/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;
	/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
	color: inherit;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside,
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* #Custom Css
================================================== */

.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }
.container {max-width: 1130px;}


.logo-header {display: flex; width: 100%; justify-content: center; align-items: center;}
.logo-div {display: flex; align-items: center; justify-content: center; padding: 15px 15px 5px 15px;}
.logo_link { display: flex; flex-direction: column; align-items: center; justify-content: center; }

.header-div.slim .logo-text {height: 0px; transition: height .5s ease;}
.logo-text { height: 14px; transition: height .5s ease; margin-bottom: 10px; margin-top: 0px; }

.header-div{ padding: 0;margin: 0; background-color: #FBFBFB; width: 100%; z-index: 999; position: fixed;  }
.header-div nav.nav-center {width: 100%; -webkit-transition: all .3s 0s ease-out;-o-transition: all .3s 0s ease-out;transition: all .3s 0s ease-out; transform: translateY(0px);}
/* .header-div.slim nav.nav-center {transform: translateY(-25px); -webkit-transform: translateY(-25); -o-transform: translateY(-25);} */
.top-nav1 {display: flex; justify-content: flex-start; align-items: center; padding: 0;}
.nav-div {width: 100%;}
.logo-leaf { margin-bottom: 10px; align-items: center; width: 27px; }
.header-div.slim .logo-leaf { margin-bottom: 5px;  }
.header-div.slim .logo-text { margin-bottom: 6px; }

.logo-text{-webkit-transition: all .3s 0s ease-out;-o-transition: all .3s 0s ease-out;transition: all .3s 0s ease-out; opacity: 1; -webkit-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); align-items: center;}
.slim .logo-text { opacity: 0; -webkit-transform: translateY(50px); -o-transform: translateY(50px); transform: translateY(50px); }
.slim .logo-leaf {margin-left: 0px;}	

.ullist-inline { padding: 0;margin: 0; display: flex;align-items: center; width: 100%; border: 1px solid #CCC4B8;}
.ullist-inline li{ padding: 0;margin: 0;display: inline-block; text-transform: capitalize; font-size: 15px; width:calc((100% - 164px)/ 7); border-right: 1px solid #CCC4B8; }
.ullist-inline li.w20 {width: 16%}
.ullist-inline li:last-child {border-right: 0px; width: 53px !important}
.ullist-inline li:first-child {width: 54px !important;}
.ullist-inline li a { color: #8B7C6A; white-space: nowrap; background-color: #FFFFFF; text-transform: uppercase; text-align: center; font-size: 14px; letter-spacing: .15em; display: inline-block; line-height: 28px; position: relative; width: 100%; padding: 10px 0px; min-height: 50px; display: flex; transition: all .3s 0s ease-out; align-items: center; justify-content: center; }
.ullist-inline li:hover a{ background-color: #F3F3F3;}
.ullist-inline li a.active { background-color: #F3F3F3;}

.cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0;background-color: rgba( 0, 0, 0, 0.4); cursor: pointer; z-index: 2; display: none; }
.cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

.nav-div .closebtn { display: none; }



.container-fluid {padding: 0 !important;}

.middle-container {min-height: calc(100vh - 154px); position: relative; padding-top: 154px;}
.banner-section {position: relative; padding-bottom: 50px; background-color: #FBFBFB}

.avilable-now {padding: 50px 0 70px 0; background-color: #FBFBFB;}
.heading-section h2 {color: #8B7C6A; font-size: 30px; font-weight: 600; text-align: center; position: relative;}
.heading-section h2 span {padding: 0 60px; background-color: #fbfbfb; display: inline-block; z-index: 1; position: relative;}
.heading-section h2:after {content: '';position: absolute;width: 100%;display: flex;height: 0px; border: 1px solid rgba(139, 124, 106, .2); top: 21px;z-index: 0;}
.heading-section { margin-bottom: 40px;}



/* landnign page stareted */

.carousel-caption {width: 100%; background-color: rgba(57, 46, 39, 0.80)}
.banner-section .carousel-caption {left: 0; right: 0; bottom: 150px; padding: 25px 70px 30px 70px;}
.banner-section .carousel-caption h2 {font-size: 20px; font-weight: 400;color: #F9F9F7; letter-spacing: 0.21px; margin-bottom: 20px; line-height: 28px;}
.banner-section .carousel-item img {width: 100%; height: auto; display: block;}
.banner-section .carousel-item img.banner-images { width: 100%; height: auto; display: block; max-height: 500px; object-fit: cover; }

/* .banner-section .carousel {height: 600px;}
.banner-section .carousel-inner {height: 600px;}  */
.btn-shop {background-color: rgba(57, 46, 39, 0.80); color: #A19787; border: 1px solid #A19787 !important; padding: 10px 70px; border-radius: 0; text-transform: uppercase; font-weight: 500; font-size: 12px;}
.btn-shop:hover {background-color: #392E27; color: #fff !important; border: 1px solid #ffffff !important;}

.banner-section .carousel-indicators {bottom: -40px;}
.banner-section .carousel-indicators li {height: 10px; width: 10px; background-color: #ffffff; border: 1px solid #CCC4B8; border-radius: 100px;}
.banner-section .carousel-indicators li.active {background-color: #CCC4B8;}

.product-details h3 {font-size: 20px; color: #392E27; font-weight: 600; margin-bottom: 10px;}
.product-details p {font-size: 14px; font-weight: 400; line-height: 24px; color: #392E27;}
.product-details h5 {color: #488898; font-size: 14px; font-weight: 700; margin-bottom: 10px;}
.product-details {padding: 10px 0px; text-align: left;}


.ratting {display: flex; align-items: center; justify-content: flex-start; margin-bottom: 15px;}
.ratting-star {margin-right: 10px;}
.ratting-star .fa {color: #F29304; font-size: 16px; margin-right: 3px;}
.ratting P {font-size: 12px; color: #8B7C6A; font-weight: 500; }


/* counter */

.qty {display: flex; flex-direction: row; align-items: center; margin-bottom: 15px;}
.qty .bg-dark {background-color: #F3F3F3 !important; color: #8B7C6A !important;}
.qty .fa {font-size: 12px; font-weight: 400;}

.qty .count {
    color: #8B7C6A;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
	min-width: 35px;
	max-width: 55px;
	text-align: center;
	background-color: #FBFBFB;
	border: 0 !important;
	padding: 0 0px 0 15px;
	
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
	display: flex; align-items: center;
	justify-content: center;
	text-align: center;
	
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
	color: white;
	width: 25px;
    height: 25px;
	display: flex; align-items: center;
	justify-content: center;
    
    text-align: center;
    background-clip: padding-box;
}

.minus:hover{
	background-color: #8B7C6A !important;
	color: #ffffff !important;
}
.plus:hover{
	background-color: #8B7C6A !important;
	color: #ffffff !important;
}
.prices-box {margin-bottom: 30px;}
.prices-box h3 {font-size: 22px; font-weight: 600; color: #8B7C6A;}
.prices-box h3 span {font-weight: 400; text-decoration: line-through; margin-left: 5px; color: #A19787;}

.addtocart .btn-cart {padding: 10px 20px;display: flex; align-items: center; justify-content: space-between; width: 100%; font-size: 14px; border-radius: 0;  text-transform: uppercase; background-color: #ffffff; border: 1px solid rgb(57, 46, 39, 0.2); color: #392E27;}
.addtocart .btn-cart span {padding-right: 10px; transition: all 0.3s ease-in-out;}
.addtocart .btn-cart:hover {background-color: #8B7C6A; color: #FFFFFF;}
.addtocart .btn-cart:hover span {padding-right: 0px; transition: all 0.3s ease-in-out; color: #ffffff;}

.Products-img img {width: 100%;}


.gallery-section {padding: 90px 0; background-color: #ffffff;}
.gallery-section .img-box {max-height: 276px; min-height: 276px; overflow: hidden;}
.gallery-section .img-box2 {max-height: 221px; min-height: 221px; overflow: hidden;}
.gallery-section .img-box3 {max-height: 298px; min-height: 298px; overflow: hidden;}


.img-box img {width: 100%;}
.img-box2 img {width: 100%;}
.img-box3 img {width: 100%;}


.gallery-section .img-box img {width: 100%;}
.gallery-section .col-lg-3, .gallery-section .col-lg-9, .gallery-section .col-lg-6  {padding: 0 !important;}
.gallery-section .col-lg-3,  .gallery-section .col-lg-9, .gallery-section .col-lg-6  {border: 1px solid #ffffff;}
.gallery-section .row {margin: 0 !important;}


.bg-dark-coffe {background-color: #8B7C6A; width: 100%;  }
.bg-light-coffe {background-color: #CCC4B8;}

.category-section {padding: 90px 0; background-color: #FBFBFB; }


.img-category-box img {width: 100%;}
.img-category-box {position: relative;}
.category-div-cap {position: absolute; width: 100%; height: 100%; padding: 20px; display: flex; justify-content: center; align-items: flex-end; top: 0; left: 0;}
.category-div-cap a {background-color: #F9F9F7; border-left: 5px solid #8B7C6A; border-right: 5px solid #8B7C6A; padding: 8px 20px; font-size: 14px; font-weight: 600; color: #0F0D0C;}
.category-div-cap a:hover {background-color: #8B7C6A;  color: #fff; transition: all .3s ease-in-out;}
.category-gallery .row {margin: 0 -2px !important;}
.category-gallery .col-lg-3 {padding: 0 2px !important;}
.category-gallery .col-md-6 {padding: 0 2px !important;}
.category-gallery .col-sm-6 {padding: 0 2px !important;}


.footer-section {padding: 20px 0 20px 0; background-color: #0F0D0C;}
.footer-div {padding-top: 70px; border-top: 1px solid #a1978733; margin: 0 20px;}

.menu-footer ul {padding: 0; margin: 0;}
.menu-footer ul li {padding: 0;}
.menu-footer ul li a {color: #6E6962; line-height: 30px; font-size: 20px;}
.menu-footer ul li a:hover {color: #f2f2f2; transition: all .3s ease-in-out;}
.menu-footer {text-align: center;}


.footer-div-one {margin-bottom: 50px;}
.social-media {padding: 20px 0; text-align: center;}
.social-media ul {padding: 0; margin: 0;}
.social-media ul li { display: inline-block; text-align: center;}
.social-media ul li a {color: #6E6962; font-size: 30px; padding: 10px;}
.social-media ul li a:hover {color: #f2f2f2; transition: all .3s ease-in-out;}

.coyright {padding: 10px 0;}
.coyright p {color: #6E6962; font-size: 20px; padding: 10px; text-align: center; line-height: 28px;}

.item-box {position: relative;}
.item-hover {position: absolute; margin: 15px; left: 0; top: 0; display: flex; justify-content: center; flex-direction: column; align-items: center; background-color: #F9F9F7; height: calc(100% - 15%); width: calc(100% - 12%);}
.item-hover h3 {font-size: 14px; color: #0F0D0C; font-weight: 600; margin-bottom: 10px;}
.item-hover a {background-color: #8B7C6A; color: #ffffff; padding: 8px 20px; font-size: 12px; text-transform: uppercase;}
.item-hover a:hover {background-color: #392E27; color: #ffffff; transition: all .3s ease-in-out;} 

.item-box-2 {position: relative; }
.item-hover-2 {position: absolute; margin: 15px 40px; left: 0; top: 0; display: flex; justify-content: center; flex-direction: column; align-items: flex-start; background-color: rgb(0, 0, 0, .4); height: 100%; width: 100%; }

.item-box-3 {position: relative; }
.item-hover-3 {position: absolute; padding: 20px; left: 0; top: 0; display: flex; justify-content: center; flex-direction: column; align-items: flex-start; background-color: rgb(255, 255, 255, .4); height: 100%; width: 100%;}
.item-hover-3 a {background-color: #F9F9F7; border-left: 5px solid #8B7C6A; border-right: 5px solid #8B7C6A; padding: 8px 20px; font-size: 14px; font-weight: 600; color: #0F0D0C;}
.item-hover-3 a:hover {background-color: #8B7C6A; color: #fff; transition: all .3s ease-in-out;}

.item-hover-2 h3 {font-size: 26px; color: #ffffff; font-weight: 600; margin-bottom: 10px;}
.item-hover-2 p {color: #ffffff; font-size: 14px; margin-bottom: 15px;}

.item-hover-2 a {background-color: rgba(0, 0, 0, 0.80); padding: 10px 20px; color: #ffffff; display: flex; align-items: center; width: 170px; border: 1px solid #8B7C6A; text-transform: uppercase;}
.item-hover-2 a span {padding-left: 10px; transition: all 0.3s ease-in-out;}
.item-hover-2 a:hover {background-color: #8B7C6A; transition: all 0.3s ease-in-out; color: #ffffff;}
.item-hover-2 a:hover span {padding-left: 20px; transition: all 0.3s ease-in-out;}




.item-box-4 {position: relative; overflow: hidden;  }
.item-hover-4 {position: absolute; margin: 60px 40px 0 40px; padding: 20px; left: 0; top: 0; display: flex; justify-content: flex-start; flex-direction: column; align-items: flex-start; background-color: rgba(0, 0, 0, 0.80); height: calc(100% - 15%); width: calc(100% - 15%); }
.item-hover-4 h2 {padding: 8px 15px; background-color: #ffffff; margin-top: -50px; margin-left: -20px;}

.profile-img img {width: 60px; height: 60px; overflow: hidden; border-radius: 100px;}
.profile-img {position: absolute; top: 0; left: 0;}
.profile {position: relative; padding-left: 80px; margin-top: 30px; height: 70px;}
.profile h3 {margin-top: 0 !important; background-color: transparent ; text-align: left; color: #F9F9F7; font-size: 20px; padding: 0; margin-bottom: 5px; margin-left: 0;}
.profile p {color: #F9F9F7 !important; font-size: 12px;}
.item-hover-4 p {color: #8B7C6A; line-height: 24px; margin-bottom: 15px;}

.item-hover-4 a {    background-color: transparent; padding: 10px 20px; color: #ffffff; display: flex; align-items: center; width: 170px; text-transform: uppercase;}	
.item-hover-4 a span {padding-left: 10px; transition: all 0.3s ease-in-out;}
.item-hover-4 a:hover { transition: all 0.3s ease-in-out; color: #ffffff;}
.item-hover-4 a:hover span {padding-left: 20px; transition: all 0.3s ease-in-out;}

.div-avilable .owl-theme .owl-nav { top: 50%;top: 50%; position: absolute; display: flex; justify-content: space-between; width: 100%;}
.div-avilable .owl-theme .owl-nav .owl-next { position: absolute; right: -50px;}
.div-avilable .owl-theme .owl-nav .owl-prev { position: absolute; left: -50px;}

.owl-theme .owl-nav [class*='owl-']:hover ,.owl-theme .owl-nav [class*='owl-']:focus {background: transparent; outline: 0; box-shadow: none;}

/* end counter */

/******  Changes Design  ***********************/




/********************** Inner pages started *******************************/

.inner-banner {background-image: url('../images/inner-banner.jpg');  background-size: cover;background-position: center; }
.inner-page-header {padding: 40px 0; text-align: center; background-color: rgba(57, 46, 39, 0.80); margin: 90px 0 80px 0;}
.inner-page-header h2 {font-size: 20px; color: #ffffff;line-height: 23px;letter-spacing: 0.05em; font-weight: 600;}

.product-box {margin-bottom: 40px;}
.category-lsit {padding-bottom: 40px;}
.category-lsit ul {list-style: none; margin: 0; padding: 0;}
.category-lsit ul li {display: inline-block; margin-right: 5px; margin-bottom: 10px;}
.category-lsit ul li a {padding: 15px 15px; display: block; background-color: #FFFFFF; color: #8B7C6A; border: 1px solid #8B7C6A; transition: 0.3s all ease-in-out;}
.category-lsit ul li:hover a {background-color: #f3f3f3;}
.category-lsit ul li:last-child {margin-right: 0px}

.select2-container {width: 100% !important;}
.select2-container .select2-selection--single {height: 50px; border-radius: 0; border: 1px solid #8B7C6A;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #8B7C6A;line-height: 48px;border-radius: 0;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 50px;}


.ullist-inline li .dropdown-menu a {padding: 10px 20px; }
.ullist-inline li .dropdown-menu {padding: 0; width: 100%;}
/*****************************/




/* search */

 

.sb-search-submit {
    position: absolute;
    right: 0;
	top: 0;
	z-index: 1;
}

.sb-icon-search {
    position: absolute;
    left: 0;
    top: 0;
}
.sb-search-close, .sb-search-submit {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: transparent;
    border: none;
    outline: 0;
    z-index: -1;
}


.sb-icon-search, .sb-search-submit {
    width: 50px;
    height: 48px;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.sb-search {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    right: 0;
    margin-top: 0;
    width: 0%;
    min-width: 55px;
    height: 52px;
    float: right;
    overflow: hidden;
    -webkit-transition: width .4s 0s linear;
    -o-transition: width .4s 0s linear;
    transition: width .4s 0s linear;
    -webkit-backface-visibility: hidden;
    border-top: 1px solid #CCC4B8;
    border-bottom: 1px solid #CCC4B8;
    border-right: 1px solid #CCC4B8;
    background: #fff;
}

.sb-search-open form {height: 100%;}
.search-field {height: 53px;}
.search-field.form-control {
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	padding: 10px 10px 10px 60px;
	color: #8B7C6A !important;
	border-color: #CCC4B8 !important;
	border: 0;
}
.search-field.form-control::placeholder {
	color: #8B7C6A !important;
}

.search-field.form-control:focus {box-shadow: none !important; border-color: transparent;}

.sb-search.sb-search-open {
    width: 100%;
    border-top: 1px solid #CCC4B8;
}



.sb-search.sb-search-open .sb-icon-search {
    background: #fff;
    color: #000;
    z-index: 11;
}

header.banner .sb-search.sb-search-open .sb-search-input {
    opacity: 1;
}

input[type=search] {
    -webkit-appearance: none;
}

.sb-search.sb-search-open .sb-search-close {
    -webkit-transition: opacity .4s 0s linear;
    -o-transition: opacity .4s 0s linear;
    transition: opacity .4s 0s linear;
    z-index: 100;
    right: 0;
    top: 1px;
    position: absolute;
    width: 50px;
    height: 52px;
    opacity: 1;
    padding: 13px;
    background: #ffffff;
    border: 0;
}

.sb-search.sb-search-open .sb-search-submit {
    z-index: 90;
}

.sb-icon-search img {
    max-width: 20px;
    width: 20x;
	margin-bottom: 0;
	vertical-align: middle;
}

.sb-search.sb-search-open .sb-search-close img {
    max-width: 25px;
}

.sb-search-active {
    opacity: .5;
}

.navbar-nav {
    width: calc(100% - 49px);
}

.sb-search.sb-search-open .sb-icon-search {
    background: #fff;
    color: #8B7C6A;
    z-index: 11;
}

header.banner .sb-search.sb-search-open .sb-search-input {
    opacity: 1;
}

.sb-icon-search, .sb-search-submit {
    width: 50px;
    height: 48px;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

.sb-icon-search {
    position: absolute;
    left: 0;
	top: 1px;
	height: 52px;
}

/* megamenu */

.megamenu-submenu{ transition: display 0.8s; -webkit-animation-name: fadeInUp; animation-name: fadeIn;  -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.megamenu-submenu .category-gallery { width: 100%; margin: 0 0 -2px 0; }
.megamenu-submenu .category-gallery .col-sm-6 { padding: 0 1px !important; width: 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
.megamenu-submenu .category-gallery .img-category-box img { width: 100%; height: 330px; object-fit: cover;  }
.hidden { display: none; }


/**	 Design Updates	**********/


.payment-list-div {padding: 20px 0; text-align: center;}
.payment-list-div ul {padding: 0; margin: 0;}
.payment-list-div ul li { display: inline-block; text-align: center;}
.payment-list-div ul li a { padding: 0px 2px;display: inline-block; }
.payment-list-div ul li a .payment-icons{ padding: 0px 0px; width: 60px; }


.social-icons-list { position: absolute; top: -112px; right: 0; width: auto; display: flex; height: auto; align-items: center; min-height: 112px; padding: 0 20px 0 0; }
.header-div.slim .social-icons-list{ top: -89px;  min-height: 89px;  }

.social-icons-list .social-list-div ul { display: flex; align-items: center; justify-content: center; }
.social-icons-list .social-list-div ul li { display: flex; align-items: center; justify-content: center; padding: 0 8px; }

.social-icons { -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; color: #CCC4B8; fill: #CCC4B8; background-color: #CCC4B8; transition: 0.5s; }
.social-icons:hover{  fill: #8B7C6A; background-color: #8B7C6A; }
.social-icons.social-facebook { 
	width: 11px; height: 20px; -webkit-mask: url(../images/icons/facebook.svg) no-repeat 50% 50%; mask: url(assets/img/facebook.svg) no-repeat 50% 50%;     
}
.social-icons.social-instagram { 
	width: 16px; height: 16px; -webkit-mask: url(../images/icons/instagram.svg) no-repeat 50% 50%; mask: url(assets/img/instagram.svg) no-repeat 50% 50%;     
}
.social-icons.social-youtube { 
	width: 22px; height: 17px; -webkit-mask: url(../images/icons/youtube.svg) no-repeat 50% 50%; mask: url(assets/img/youtube.svg) no-repeat 50% 50%;     
}

/**  End of Design Updates **********/


/* # Media Query
============================================================================================= */
@media screen and (max-width: 1230px) {
	
	/* .ullist-inline li {width: 11%}
	.ullist-inline li.w20 {width: 23%;} */
}

@media screen and (max-width: 992px) {
	
	.header-div nav.nav-center {transform: none !important; height: 100%;}

	.logo-div {padding: 5px 0;}
	.logo_link {flex-direction: row;}
	.logo-header {justify-content: flex-start; align-items: center;}
	.logo-leaf {padding-right: 20px}
	
	.top-nav1 {display: flex;align-items: center; height: 100%;justify-content: flex-end;}
	.nav-m-bar .menu-bars{ background:url(../images/icons/menubar.png) no-repeat;  width: 21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
	.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: #ffffff; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
	.nav-div .closebtn { position: absolute; color: #8B7C6A; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
	.nav-div .closebtn:hover { color: #8B7C6A; }
	.nav-div .closebtn { display:block;}
	
	
	.width80{ width: 70%; }
	.opacityon{ opacity: 1; }
	.displayblock{ display: block; }
	
	.ullist-inline { height: auto; border: 0 !important}
	.ullist-inline li:first-child {width: 100% !important;} 
	.ullist-inline li:last-child {width: 100% !important;}
	.ullist-inline li.w20  {width: 100% !important;}
	.ullist-inline li { width: 100%; margin: 0px 0 0 0; text-align: left; border: 0 !important;}
	.ullist-inline li a{ color: #8B7C6A; text-transform: uppercase;  font-weight: 400; font-size: 16px; text-align: center; }
	.ullist-inline li:hover a{ color: #8B7C6A;}
	.ullist-inline li a.active{ color: #8B7C6A; }
	
	.middle-container { min-height: calc(100vh - 80px); position: relative; padding-top: 80px;}
}




@media only screen and (max-width: 767px){

	.megamenu-submenu{ display: none !important; }

/* mobile navigation start */

.container-fluid {padding: 0 15px !important;} 
.header-div nav.nav-center {transform: none !important; height: 100%;}

.logo-div {padding: 5px 0;}
.logo_link {flex-direction: row;}
.logo-header {justify-content: flex-start; align-items: center;    min-height: 80px;}
.logo-leaf { margin-bottom: 5px; width: 36px; padding-right: 10px; }
.logo-text {transform: none !important;    margin-bottom: 0px;}
.slim .logo-text {opacity: 1;}

.top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end;}
.nav-m-bar .menu-bars{ background:url(../images/icons/menubar.png) no-repeat;  width: 21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: #ffffff; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn { position: absolute; color: #8B7C6A; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
.nav-div .closebtn:hover { color: #8B7C6A; }
.nav-div .closebtn { display:block;}

.width80{ width: 70%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }


.ullist-inline { height: auto; border: 0 !important}
.ullist-inline li:first-child {width: 100% !important;} 
.ullist-inline li:last-child {width: 100% !important;}
.ullist-inline li.w20  {width: 100% !important;}
.ullist-inline li { width: 100%; margin: 0px 0 0 0; text-align: left; border: 0 !important;}
.ullist-inline li a{ color: #8B7C6A; text-transform: uppercase;  font-weight: 400; font-size: 13px; text-align: center; }
.ullist-inline li:hover a{ color: #8B7C6A;}
.ullist-inline li a.active{ color: #8B7C6A; }

.middle-container { min-height: calc(100vh - 80px); position: relative; padding-top: 80px;}


.banner-section .carousel-caption {bottom: 70px;}
.banner-section .carousel-item img {min-height: 300px;}
.banner-section .carousel-caption {padding: 20px; margin: 0 10px; width: auto;}


.gallery-section .img-box {max-height: 100%; min-height: auto; overflow: hidden;}
.gallery-section .img-box img {height: auto; width: 100%;}
.gallery-section .img-box2 {max-height: 100%; min-height: 221px; overflow: visible;}
.gallery-section .img-box2 img {height: auto; width: 100%;}
.gallery-section .img-box2.bg-dark-coffe img {height: 100%; width: auto;}
.gallery-section .img-box2.bg-dark-coffe {overflow: hidden;}

.gallery-section .img-box3 {max-height: 100%; min-height: auto; overflow: hidden;}
.gallery-section .img-box3 img {width: auto; height: 100%;}

.div-avilable .owl-theme .owl-nav {width: 80%; top: 17%;}
.div-avilable .owl-theme .owl-nav .owl-prev {left: 20px;}



/* search */



.sb-search {display: none !important;}


/**	 Design Updates	**********/

.payment-list-div ul li a .payment-icons { width: 40px; }
.social-icons-list { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; margin: 30px 0; float: right; }


/**  End of Design Updates **********/




}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	.megamenu-submenu{ display: none !important; }

.header-div nav.nav-center {transform: none !important; height: 100%;}

.logo-div {padding: 5px 0;}
.logo_link {flex-direction: row;}
.logo-header {justify-content: flex-start; align-items: center;    min-height: 80px;}
.logo-leaf { margin-bottom: 5px; width: 36px; padding-right: 10px; }
.logo-text {transform: none !important;    margin-bottom: 0px;}

.top-nav1 {display: flex;align-items: center; height: 100%;justify-content: flex-end;}
.nav-m-bar .menu-bars{ background:url(../images/icons/menubar.png) no-repeat;  width: 21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: #ffffff; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn { position: absolute; color: #8B7C6A; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
.nav-div .closebtn:hover { color: #8B7C6A; }
.nav-div .closebtn { display:block;}


.width80 { width: 40%; max-width: 340px; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }

.ullist-inline { height: auto; border: 0 !important}
.ullist-inline li:first-child {width: 100% !important;} 
.ullist-inline li:last-child {width: 100% !important;}
.ullist-inline li.w20  {width: 100% !important;}
.ullist-inline li { width: 100%; margin: 0px 0 0 0; text-align: left; border: 0 !important;}
.ullist-inline li a{ color: #8B7C6A; text-transform: uppercase;  font-weight: 400; font-size: 16px; text-align: center; }
.ullist-inline li:hover a{ color: #8B7C6A;}
.ullist-inline li a.active{ color: #8B7C6A; }

.middle-container { min-height: calc(100vh - 80px); position: relative; padding-top: 80px;}

.banner-section .carousel-caption {bottom: 80px;}
.banner-section .carousel-item img {min-height: 300px;}
.banner-section .carousel-caption {padding: 20px; margin: 0 10px; width: auto;}

.logo-text {transform: none !important;}
.slim .logo-text {opacity: 1;}


.container-fluid {padding: 0 15px !important;}
.gallery-section .img-box2 img {height: 100%; width: auto;}
.gallery-section .img-box3 {height: 100%; width: auto; max-height: auto; min-height: auto;}

.div-avilable .owl-theme .owl-nav {display: none;}

/**	 Design Updates	**********/


.social-icons-list { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; margin: 30px 0; float: right; }

/**  End of Design Updates **********/


}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.ullist-inline li:first-child {width: 50px !important;} 
.ullist-inline li:last-child {width: 50px !important;}
.ullist-inline li.w20  {width: 17% !important;}
.ullist-inline li.w20 a { word-break: break-all; font-size: 16px; white-space: normal; line-height: 15px; }
.ullist-inline li { width: 12%;}
.ullist-inline li a {font-size: 16px; letter-spacing: 0.05em;}
.ullist-inline {background-color: #ffffff;}

.banner-section .carousel-caption {bottom: 50px;}
.banner-section .carousel-item img {min-height: 300px;}
.banner-section .carousel-caption {padding: 20px; margin: 0 10px; width: auto;}

.logo-text {transform: none !important;}
.slim .logo-text {opacity: 1;}

.container-fluid {padding: 0 15px !important;}

.gallery-section .img-box img {height: 100%; width: auto;}
.gallery-section .img-box2 img{height: 100%; width: auto;}
.gallery-section .img-box3 img{height: 100%; width: auto;}

.div-avilable .owl-theme .owl-nav {display: none;}
}

